.button__container {
  margin-top: 200px;
  text-align: center;
}

.button {
  background-color: green;
  border: none;
  color: white;
  font-size: 20px;
  height: 50px;
  width: 220px;
}

h2.title {
  font-weight: bold;
  padding-left: 35px;
}
